<div class="row-fluid">
	<img src="/img/rho.svg" id="logo"/>
</div>

<div class="row-fluid">
	<div class="col-xs-12 social-buttons">
		<a class="btn btn-link" href="https://www.facebook.com/rpihackathonorg">
			<i class="fa fa-2x fa-facebook-official"></i>
		</a>
		<a class="btn btn-link" href="https://github.com/mpoegel/RHO_ClubSite">
			<i class="fa fa-2x fa-github"></i>
		</a>
	</div>
</div>


<h4>Important Resources</h4>

<a target="_blank" href="https://docs.google.com/document/d/1DIq3IVV604FQ5cJuwDebpv78affVrABwba3N3C1Zvqg/edit?usp=sharing">
	Constitution and Bylaws<br></a>
<a target="_blank" href="https://union.rpi.edu">Rensselaer Union<br></a>
<a target="_blank" href="https://docs.google.com/forms/d/1LN0j1J-ul6G81Yd67bkzJSu5IHSpGMkubFH9i2AwIZ0/viewform">
	Submit an Idea to the Hat<br></a>
<a target="_blank" href="http://hackrpi.com">HackRPI<br></a>
<a target="_blank" href="https://mlh.io">Major League Hacking<br></a>

<h4>Recent Posts</h4>

<ul>
	{% for post in site.posts limit: 7 %}
		<li><a href="{{ post.url }}">{{ post.title | truncate: 25 }}</a></li>
	{% endfor %}
</ul>

<a href="/archive">See All Posts</a>
